// Hero Section Starts
.hero_area {
    &__main {
        margin: 137px 20px 0 303px;

        @include maxQuery(1399) {
            // padding-top: 60px;
        }

        @include maxQuery(991) {
            margin: 0;
            padding-top: 120px;
        }
    }

    .live-playing .swiper-wrapper {
        -webkit-transition-timing-function: linear !important;
        -o-transition-timing-function: linear !important;
        transition-timing-function: linear !important;
    }

    &__topslider {
        &-card {
            // width: 416px;
            border-radius: 8px;
            border: 1px solid rgb(var(--p3));
            transition: 0.4s linear;

            &:hover {
                border: 1px solid rgba(53, 195, 30, 0.50);
            }
        }

        &-flagbox {
            @include box(40);
            background-color: rgba(var(--n11), 1);
        }

        &-vs {
            padding: 10px 9px;
            @include box(40);
            border: 1px solid rgb(var(--n2));
        }

        &-cfitem {
            border-radius: 4px;
            transition: 0.5s linear;

            &:hover {
                background: rgba(53, 195, 30, 0.50);
            }
        }
    }
}

// Hero Section Ends
// Top Matches Section Starts
.top_matches {
    &__main {
        margin: 30px 20px 0 303px;

        @include maxQuery(991) {
            margin: 0;
            // padding-top: 120px;
        }
    }

    &__content {
        .tabcontents {
            position: relative;
          }
          .tabitem {
            transform: translateY(100px);
            position: absolute;
            z-index: -1;
            top: 0;
            width: 100%;
            opacity: 0;
            transition: 0.5s all;
          }
          .tabitem.active {
            position: initial;
            z-index: 1;
            opacity: 1;
            transform: translateY(0);
          }
    }
}

// Top Matches Section Ends